html,body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

/*****************************************************************************************************/
.background-image {
    background-image: url(https://assets.mixkit.co/videos/2168/2168-720.mp41);
    background-size: cover; /* Adjusts the size of the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Fixes the image so it doesn't scroll with the content */
    min-height: 100%;
}
.video{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*****************************************************************************************************/
/*header*/
header {
    background-color: #8AA29E;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    border-bottom: 5px solid black;
}

.epic-vacations-logo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 48px;
}

nav {
    gap: 10%;
}

.header-btn {
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    font-size: 32px;
    margin: 25px;
}

.nav-color {
    color: white;
    transition: all 0.8s;
}

.nav-color:hover {
    color: #393e3d;
    transition:  0.8s
}

.btn-backgrnd {
    background-color: white;
    height: 77px;
    width: 155px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-color {
    color: #8AA29E;
    transition: all 0.8s;
}

.login-color:hover {
    color: #dbede9;
    transition:  0.8s
}
/*****************************************************************************************************/
/*footer*/
footer{
    background-color: rgba(58, 255, 184, 1);
    height: 250px;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    box-shadow: 0 0 25px 0 black;
    border-top: 5px solid black; 
    padding: 10px;
}
.contact-button{
    cursor: pointer;
    width: 200px;
}
.hold-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 40%;
    font-size: 25px;
}
.hold-images{
    display: flex;
    gap: 30px;
}
.hold-div-2{
    cursor: pointer;
    width: 90%;
    height: 30%;
    font-size: 125%;
    font-family: "JetBrains Mono", monospace;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: stretch;
}

.privacy{
    display: flex;
    width: 90px;
}

.terms-of-service{
    display: flex;
    width: 200px;
    cursor: pointer;
}

/*****************************************************************************************************/
.tumblr-logo{
    width: 60px;
    height: 60px;
}
.youtube-logo{
    width: 60px;
    height: 60px;
}
.pinterest-logo{
    width: 60px;
    height: 60px;
}
.instagram-logo{
    width: 60px;
    height: 60px;
}
/*****************************************************************************************************/
.drop-down-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 500px;
    background-color: white;
    border-right: 5px solid black; 
    border-left: 5px solid black; 
    background: linear-gradient(
        to top, 
        hsla(52, 25%, 12%, 0.499), 
        hsla(0, 35%, 42%, 0.685), 
        hsla(189, 69%, 32%, 0.366),
        hsla(52, 25%, 12%, 0.499)  
    );
    pointer-events: none; 
    z-index: -1;    
}
.hold-drop-down-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
}
/*****************************************************************************************************/
.form-container {
    display: flex;
    justify-content: center;
} 

.form-box {
    width: 50%;
    height: 700px;
    background-color: #DB5461;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5%;
    border: 2px solid white;
    opacity: 95%;
}

.login-introduction {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100px;
    margin-bottom: -12.5%;
    margin-left: 12.5%;
}

.email-box {
    display: flex;
    margin-top: 15%;
    margin-left: 12.5%;
    border: none;
    outline: none;
    padding: 3% 23%;
    border-radius: 30px;
    font-family: "Poetsen One", sans-serif;
    color: white;
    font-size: 25px;
}

.password-box {
    display: flex;
    margin-top: 5%;
    margin-left: 12.5%;
    border: none;
    outline: none;
    padding: 3% 23%;
    border-radius: 30px;
    font-family: "Poetsen One", sans-serif;
    color: white;
    font-size: 25px;
}