html,body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*header*/
footer{
    background-color: rgba(58, 255, 184, 1);
    height: 250px;
    display: flex;
}

header {
    background-color: #8AA29E;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.epic-vacations-logo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 48px;
}

nav {
    gap: 10%;
}

.header-btn {
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    font-size: 32px;
    margin: 25px;
}

.nav-color {
    color: white;
    transition: all 0.8s;
}

.nav-color:hover {
    color: #393e3d;
    transition:  0.8s
}

.btn-backgrnd {
    background-color: white;
    height: 77px;
    width: 155px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-color {
    color: #8AA29E;
    transition: all 0.8s;
}

.login-color:hover {
    color: #dbede9;
    transition:  0.8s
}

/*footer*/
footer{
    background-color: rgba(58, 255, 184, 1);
    height: 250px;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact-button{
    cursor: pointer;
    font-size: 175%;
    font-family: "JetBrains Mono", monospace;
}
.social-media{
    font-size: 175%;
    font-family: "JetBrains Mono", monospace;
}
.hold-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;
    height: 40%;
}
.hold-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hold-div-2{
    width: 90%;
    height: 30%;
    font-size: 125%;
    font-family: "JetBrains Mono", monospace;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: stretch;
}
.privacy{
    display: flex;
    width: 90px;
    cursor: pointer;
}
.terms-of-service{
    display: flex;
    width: 200px;
    cursor: pointer;
}

.tumblr-logo{
    width: 60px;
    height: 60px;
}
.pinterest-logo{
    width: 60px;
    height: 60px;
}
.instagram-logo{
    width: 60px;
    height: 60px;
}
.youtube-logo{
    width: 60px;
    height: 60px;
}

