html,body{
    padding: 0px;
    margin: 0px;
}
footer{
    background-color: rgba(58, 255, 184, 1);
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    box-shadow: 0 0 25px 0 black;
    border-top: 5px solid black; 
    padding: 10px;
}
.contact-button{
    cursor: pointer;
    font-size: 175%;
    font-family: "JetBrains Mono", monospace;
}
.social-media{
    font-size: 175%;
    font-family: "JetBrains Mono", monospace;
}
.hold-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;
    height: 40%;
}
.hold-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hold-div-2{
    width: 90%;
    height: 30%;
    font-size: 125%;
    font-family: "JetBrains Mono", monospace;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: stretch;
}
.privacy{
    display: flex;
    width: 90px;
    cursor: pointer;
}
.terms-of-service{
    display: flex;
    width: 200px;
    cursor: pointer;
}
.tumblr-logo{
    width: 60px;
    height: 60px;
}
.pinterest-logo{
    width: 60px;
    height: 60px;
}
.instagram-logo{
    width: 60px;
    height: 60px;
}
.youtube-logo{
    width: 60px;
    height: 60px;
}