@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*header*/
header {
  background-color: #8AA29E;
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.epic-vacations-logo {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 48px;
}

nav {
  gap: 10%;
}

.header-btn {
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
  font-size: 32px;
  margin: 25px;
}

.nav-color {
  color: white;
  transition: all 0.8s;
}

.nav-color:hover {
  color: #393e3d;
  transition:  0.8s
}

.btn-backgrnd {
  background-color: white;
  height: 77px;
  width: 155px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.login-color {
  color: #8AA29E;
  transition: all 0.8s;
}

.login-color:hover {
  color: #dbede9;
  transition:  0.8s
}

/*slider*/
.slider-container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/*------------------------Scroll Bar-----------------------*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #DB5461;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DB5461;
}

/*========================Nav Bar=========================*/
.nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 3px 3px 10px lightslategray;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  flex: 1;
  font-size: 40px;
  padding: 20px;
  margin-left: 50px;
  font-family: Satisfy;
}

ul.menu {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.menu li {
  flex: 1;
  list-style-type: none;
  font-size: 16px;
  font-family: "Barlow Condensed";
  text-align: center;
}

.menu li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.menu li a:hover {
  color: midnightblue;
  text-decoration: underline;
}
/* styles.css */

.book-form {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f293;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  margin-bottom: 28%;
}

.book-form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

span{
  font-family: "Poetsen One", sans-serif;
}

.book-form .inputbox {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.book-form .inputbox span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.book-form .input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3AFFB8;
  color: blakc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.book-form .btn:hover {
  background-color: #3AFFB8;
}

/*=============================Banner=============================*/

.banner-video {
  position: absolute;
  top: 80%;
  left: 36.7%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/*===============Footer===================*/
.footer {
  background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 670px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(0, 0, 36, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer .links {
  position: relative;
  color: #fff;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.links ul {
  list-style-type: none;
}

.links h3 {
  font-family: Barlow Condensed;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 15px;
}

.links li {
  font-family: Roboto;
  cursor: pointer;
  padding: 15px 0;
}

.links li:hover {
  color: #ffa801;
}

/*****************************************************************************************************/
/*footer*/
footer{
  background-color: rgba(58, 255, 184, 1);
  height: 250px;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 10px;
}
.contact-button{
  color: black;
  text-decoration: none;
  display: flex;
  width: 200px;
  cursor: pointer;
}

.hold-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  height: 40%;
  font-size: 25px;
}
.hold-images{
  display: flex;
  gap: 30px;
}
.hold-div-2{
  cursor: pointer;
  width: 90%;
  height: 30%;
  font-size: 125%;
  font-family: "JetBrains Mono", monospace;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-end;
align-content: stretch;
}

.privacy{
  color: black;
  text-decoration: none;
  display: flex;
  width: 90px;
}

.terms-of-service{
  color: black;
  text-decoration: none;
  display: flex;
  width: 200px;
  cursor: pointer;
}

/*****************************************************************************************************/
.tumblr-logo{
  width: 60px;
  height: 60px;
}
.youtube-logo{
  width: 60px;
  height: 60px;
}
.pinterest-logo{
  width: 60px;
  height: 60px;
}
.instagram-logo{
  width: 60px;
  height: 60px;
}

/**************************************************************************************************************/
/*review css*/

.progress-label-left
{
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}
.progress-label-right
{
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}
.star-light
{
	color:#e9ecef;
}

/*==========================Responsive=============================*/
@media all and (max-width: 1172px) {
  .banner-text-item .form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .banner-text-item .form input,
  .banner-text-item .form .date,
  .banner-text-item .form a {
    flex: 1;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .banner-text-item .form input {
    width: 60%;
  }

  .banner-text-item .form .date {
    width: 30%;
  }

  .banner-text-item .form .book {
    width: 10%;
    font-size: 14px;
  }

  .banner-heading h1 {
    font-size: 60px;
  }
}

@media all and (max-width: 1414px) {
  .banner-text-item .form input {
    width: 40%;
  }

  .banner-text-item .form .date {
    width: 30%;
  }

  .banner-text-item .form .book {
    width: 20%;
    font-size: 14px;
  }
}

@media all and (max-width: 942px) {
  .nav-bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    position: static;
  }

  .logo {
    flex: 1;
    font-size: 30px;
    margin: 10px auto;
    font-family: Satisfy;
    color: #fde02f;
  }

  .nav-bar ul {
    display: none;
  }

  .nav-bar ul li {
    flex: 1;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .services {
    display: flex;
    flex-flow: column wrap;
  }

  .services .service-item {
    flex: 1;
    margin-bottom: -130px;
    width: 400px;
  }

  .places-text {
    margin-top: 200px;
  }
}

@media all and (max-width: 928px) {
  .banner .form input,
  a {
    font-size: 12px;
  }
}

@media all and (max-width: 1173px) {
  .banner .form {
    background-color: transparent;
  }
}

@media all and (max-width: 1194px) {
  .places .card-box p {
    font-size: 14px;
  }
}

@media all and (max-width: 1086px) {
  .places .cards .text {
    line-height: 40px;
  }

  .cards .text .h2 {
    font-size: 12px;
  }

  .cards .img-card img {
    height: 260px;
  }
}

@media all and (max-width: 974px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .card {
    width: 300px;
    height: 500px;
    margin: auto;
  }

  .cards .text {
    padding: 5px;
    font-family: Barlow Condensed;
  }
}

@media all and (max-width: 1334px) {
  .about-img img {
    width: 300px;
    height: 500px;
  }
}

@media all and (max-width: 1116px) {
  .about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .about-img {
    flex: 1;
    margin-bottom: 20px;
  }

  .about-text {
    flex: 1;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .about-text h2 {
    font-size: 35px;
  }

  .about-img img {
    width: 400px;
    height: 400px;
  }
}

@media all and (max-width: 708px) {
  .footer {
    width: 100%;
    height: 670px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
/*booking*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boeken {
  width: 350px; 
  margin: 0 10px 20px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 2px solid #000000; 
  border-radius: 10px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  text-align: center; 
  background-color: #00ffc376;
  height: 100%;
}

.book-image {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
  border-radius: 10px; 
}

.book {
  background-color: #E3F2FD; 
  color: black;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  background-color: #DB5461;
  width: 40%;
  border-radius: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Poetsen One", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.activities {
  font-family: "Poetsen One", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about {
  background-color: #E3F2FD;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
